.homeContainerWide {
  display: flex;
  gap: 5%;
  height: 50dvh;
  align-items: center;
  align-self: center;
}

.copyContainerWide {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  gap: 5rem;
}

.imageContainerWide {
  display: flex;
  align-items: center;
  padding: 0% 5%;
}

.homeImageWide {
  min-width: 200px;
  max-width: 100%;
  height: auto;
  max-height: 550px;
  min-height: 150px;
}

.homeContainerNarrow {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 50dvh;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.copyContainerNarrow {
  display: flex;
  flex-direction: column;
  padding: 0% 15%;
  gap: 5rem;
}

.imageContainerNarrow {
  display: flex;
  align-items: center;
  padding: 0% 10%;
}

.homeImageNarrow {
  min-width: 200px;
  max-width: 100%;
  height: auto;
  max-height: 350px;
  min-height: 150px;
}
