.anchor {
  background-color: #979797;
  /* border: 1px solid #979797; */
  border: none;
}

.node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--primary-dark);
  height: 44px;
  width: 168px;
  border-radius: 5px;
  border: 1px solid #979797;
  overflow: hidden;
  cursor: default;
  &.selected {
    border: 4px solid var(--secondary-main);
  }
}

.nodeFocused {
  border: 0.2px solid var(--secondary-main);
  border-left: 0.2px solid var(--secondary-main);
  box-shadow: 0 0 4px 1px rgba(255, 165, 27, 0.6);
}

.dragHandle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 100%;
  background-color: #2e77ae;
  cursor: grab;
  user-select: none;
  /* > .dragIndicator {
    color: #979797;
    font-size: 1rem;
    filter: drop-shadow(0.8px 0.8px 0.3px hsla(0, 0%, 0%, 0.5));
  } */
}

.nodeLabel {
  max-width: 140px;
  font-size: 11px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  color: white;
  font-weight: 500;
}

.nodeButtonContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10px;
  align-items: flex-end;
}

.nodeButton {
  font-size: 0.8rem;
  color: #979797;
  cursor: pointer;
}

.edge {
  color: red;
}
