:root {
  --secondary-main: #ffa51b;
}

.background-image,
.background-color,
.static-layout {
  position: fixed;
  inset: 0px;
}

.background-image {
  background-image: url(../assets/white-tree.png);
  background-size: cover;
  opacity: 0.1;
}

.background-color {
  background-color: #01383f;
}

.static-layout {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 50px 1fr auto;
  transition: 200ms ease-in;
}

.layout-open {
  grid-template-columns: 186px 1fr;
}

.layout-closed {
  grid-template-columns: 60px 1fr;
}

.linkta-logo-container,
.drawer-open-logo-ph,
.top-nav-bar {
  border-bottom: 1px solid #4F5D66;
}

.linkta-logo-container,
.side-nav-mini,
.side-nav-bar {
  border-right: 1px solid #4F5D66;
}

.linkta-logo-drawer {
  display: flex;
  /* justify-content: end; */
  height: 50px;
  margin-bottom: 25px;
}

.linkta-logo-container {
  display: flex;
  justify-content: center;
  transition: 200ms ease-in;
}

.linkta-logo-image,
.linkta-drawer-image {
  border-radius: 3px;
}

.linkta-drawer-image {
  height: 50px;
}

.top-nav-bar {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.save-button-group-item {
  color: red;
}

.side-nav-mini {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
  transition: 200ms ease-in;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.side-nav-bar {
  display: flex;
  flex-direction: column;
  padding: 0px 13px 20px;
  width: 186px;
}

button.first-button {
  margin-top: 80px;
}

.side-nav-button > span,
.drawer-open-button > span,
.drawer-close-button > span,
button.side-mini-button {
  color: #F5F5F5;
}

.side-nav-button > .MuiTypography-root {
  margin-right: auto;
  font-size: 11px;
}

.drawer-close-button > span {
  margin-right: auto;
}

div.MuiDrawer-paper {
  background-color: transparent;
  flex-direction: row;
  width: 186px;
}

.router-outlet {
  padding: 50px;
}
