.backgroundImage,
.backgroundColor,
.staticLayout {
  position: fixed;
  inset: 0px;
}

.backgroundImage {
  background-image: url(/white-tree.png);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

.backgroundColor {
  background-color: #01383f;
}

.staticLayout {
  min-width: 300px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 50px 1fr auto;
}

.staticLayout.layoutOpen {
  grid-template-columns: 186px 1fr;
}

.staticLayout.layoutClosed {
  grid-template-columns: 60px 1fr;
}

.linktaLogoContainer,
.topNavBar {
  border-bottom: 1px solid #4f5d66;
}

.saveButtonGroup {
  margin-left: auto;
  height: 26px;
}

.linktaLogoContainer {
  border-right: 1px solid #4f5d66;
}

.linktaLogoContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.linktaLogoContainer.layoutOpen {
  border-right: none;
  display: flex;
  justify-content: flex-start;
}

.linktaLogoImage {
  transition: 250ms ease;
  cursor: pointer;
}

.linktaLogoImage.layoutOpen {
  margin-left: 20px;
}

.linktaLogoImage.layoutClosed {
  margin-left: 8px;
}

.topNavBar {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.routerOutlet {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-content: center;
}
