.userInputView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.userInputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.userInputInstruction {

}

.popularTopics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 85%;
  column-gap: 25px;
  row-gap: 10px;
  padding: 0px, 20px;
}

.topicsHeader {
  grid-column-start: 1;
  grid-column-end: 3;
}

.topicsButton {
  opacity: 0.8;
  background-color: rgba(128, 128, 128, 0.318);
  border: 1px solid rgba(255, 255, 255, 0.66);
  width: 100%;
}