.userInputView {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.userInputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.userInputInstruction {

}

.popularTopics {

}