.signInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2dvh;
  gap: 3dvh;

  & p, h3, h6 {
    color: var(--light-gray);
  }

  & a {
    color: var(--link-text);
    text-decoration: underline;
    margin: 0px 5px;
  }
}

.buttonWrapper {
  display: flex;
  gap: 30px;
  margin: 3dvh 0px;
}

.authButton {
  display: flex;
  height: 50px;
  border-radius: 25px;
  padding-right: 20px;
  color: black;
  background-color: var(--light-gray);
  &:hover {
    background-color: var(--medium-gray);
    color: var(--light-gray);
  }
}

.buttonIcon {
  height: 30px;
  margin-right: 20px;
}

.authViewForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5dvh;
}

.textInput > label {
  color: var(--light-gray);
}

.formSubmitButton {
  background-color: var(--secondary-dark);
  height: 50px;
  border-radius: 25px;
  color: var(--primary-dark);
  font-size: 1.2rem;
  &:hover {
    color: var(--secondary-dark);
  }
}

.finePrintContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  text-align: center;
}
