.deleteText {
  font-size: 0.9rem;
  text-align: center;
}

.deleteIcon {
  font-size: 2rem;
  color: red;
}

.deleteConfirmButton {
  background-color: red;
  color: var(--light-gray);
}

.deleteConfirmButton:hover {
  background-color: darkred;
}
