.renameForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.textField {
  width: 100%;
  background-color: var(--hover-background-color);
  border-radius: 0.25rem;
}

.textField :global(.MuiOutlinedInput-root:hover fieldset) {
  border-color: var(--secondary-main);
}

.textField :global(.MuiOutlinedInput-root.Mui-focused fieldset),
.textField :global(.MuiOutlinedInput-root.Mui-focusVisible fieldset) {
  border-color: var(--secondary-light);
}

.formError {
  color: red;
  font-size: 0.8rem;
}

.editIcon {
  font-size: 1.6rem;
  color: var(--light-gray);
}

.renameConfirmButton {
  background-color: var(--secondary-main);
  color: var(--primary-dark);
}

.renameConfirmButton:hover {
  background-color: var(--secondary-dark);
}
